/* '*' selects all the html */
*{
margin: 0, auto;
padding: 0, auto;
font-family: 'Montserrat', sans-serif, @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}
body{
align-content: center;
margin: 10px, 10px, 2px;
padding: 10px, 10px, 2px;
font-family: 'Montserrat', sans-serif, @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}
#section1{
align-content: center;
}
#section1line{
align-content: center; 
}
h1{
align-content: center;
/* Using the same font with bold font weight to create contrast and for platform support */
font-family: 'Montserrat', sans-serif, @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
text-align: center;
text decoration: none;
}
#navbar{
align-content: center;
text-decoration: none;
}
ul{
margin: 10px, 10px, 2px;
padding: 10px, 10px, 2px;
text-align: center;
text-decoration: none;
display: inline;
}
li{
text-docoration: none;
font-family: 'Montserrat', sans-serif, @import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
display: inline-block; 
}
